# PyCharm stuff
.idea

# compiled files
**__pycache__**

# files for ex2
EX2/dataset_part_*/
EX2/input
EX2/output
EX2/logfile_part_*.txt

# files for ex3
EX3/input/
EX3/dataset_part_*/

# files for ex5
EX5/challenge_testset/
EX5/data/
EX5/example_testset/
EX5/example_project.zip

# submission folder
submissions/

# unittests
unittests_ex*/

